<div class="container">
  <h3>US Time Zone Display</h3>
  
  <button class="tz_block" (click)="changeTZ('PST')" [ngClass]="{selected: selectedTZ == 'PST'}">PST</button>
  <button class="tz_block" (click)="changeTZ('MST')" [ngClass]="{selected: selectedTZ == 'MST'}">MST</button>
  <button class="tz_block" (click)="changeTZ('CST')" [ngClass]="{selected: selectedTZ == 'CST'}">CST</button>
  <button class="tz_block" (click)="changeTZ('EST')" [ngClass]="{selected: selectedTZ == 'EST'}">EST</button>
  <button class="tz_block" (click)="clear()">Clear</button>

  <h4 *ngIf="dateTime">{{ dateTime | date:"medium" }}</h4>

</div>
